sandBox/ofertaNossa/server/server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:si="http://soapinterop.org/xsd"
	xmlns:tns="vokiOfertaNossa" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="vokiOfertaNossa">

	<types>
		<xsd:schema targetNamespace="vokiOfertaNossa">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
            <xsd:complexType name="Retorno">
            	<xsd:sequence>
            		<xsd:element name="cartao" type="xsd:string" />
            		<xsd:element name="mensagem" type="xsd:string" />
            	</xsd:sequence>
            </xsd:complexType>
		</xsd:schema>
	</types>

	<message name="Parametros">
		<part name="codigo_produto" type="xsd:string" />
		<part name="data_venda" type="xsd:string" />
		<part name="cupom" type="xsd:string" />
	 	<part name="cpf_cliente" type="xsd:string" />
		<part name="nome_cliente" type="xsd:string" />
		<part name="email_cliente" type="xsd:string" />
		<part name="endereco_cliente" type="xsd:string" />
		<part name="complemento_cliente" type="xsd:string" />
		<part name="cep_cliente" type="xsd:string" />
		<part name="bairro_cliente" type="xsd:string" />
		<part name="cidade_cliente" type="xsd:string" />
		<part name="uf_cliente" type="xsd:string" />
		<part name="fone_cliente" type="xsd:string" />
	</message>
	<message name="Retorno">
        <wsdl:part name="Retorno" type="tns:Retorno"></wsdl:part>
	</message>

	<portType name="TestServicePortType">
		<operation name="getInfoDoCartao">
			<input message="tns:Parametros" />
			<output message="tns:Retorno" />
		</operation>
	</portType>

	<binding name="TestServiceBinding" type="tns:TestServicePortType">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getInfoDoCartao">
			<soap:operation soapAction="getInfoDoCartao" style="rpc" />
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>

	<service name="TestService">
		<port name="TestServicePort" binding="tns:TestServiceBinding">
			<soap:address location="http://172.16.100.147/sandBox/ofertaNossa/server/server.php" />
		</port>
	</service>

</definitions>
