controllers/ws_conexaoDb/server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:si="http://soapinterop.org/xsd"
	xmlns:tns="vokiWebService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="vokiWebService">

	<types>
		<xsd:schema targetNamespace="vokiWebService">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
		
            <xsd:complexType name="operationParamsType">
            	<xsd:sequence>
            		<xsd:element name="NewElement" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="procedureCallType">
            	<xsd:sequence>
            		<xsd:element name="param" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="res01Type">
            	<xsd:sequence>
            		<xsd:element name="index" type="xsd:string"></xsd:element>
            		<xsd:element name="value" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="res02Type">
            	<xsd:sequence>
            		<xsd:element name="index" type="xsd:string"></xsd:element>
            		<xsd:element name="value" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="recordSet">
            	<xsd:sequence>
            		<xsd:element name="linhas" type="tns:linhasType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
		
            <xsd:complexType name="linhasType">
            	<xsd:sequence>
            		<xsd:element name="campos" type="tns:camposType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
		
            <xsd:complexType name="camposType">
            	<xsd:sequence>
            		<xsd:element name="nome" type="xsd:string"></xsd:element>
            		<xsd:element name="valor" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		</xsd:schema>
	</types>

	<message name="Parametro">
		<part name="dbOperationsClassName" type="xsd:string" />
		<wsdl:part name="procedureCall" type="xsd:string"></wsdl:part>
	</message>
	<message name="Retorno">
        <wsdl:part name="retorno" type="tns:recordSet"></wsdl:part>
	</message>

	<portType name="ServicePortType">
		<operation name="executeProcedure">
			<input message="tns:Parametro" />
			<output message="tns:Retorno" />
		</operation>
	</portType>

	<binding name="ServiceBinding" type="tns:ServicePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="executeProcedure">
			<soap:operation soapAction="vokiWebService/executeProcedure" />
			<input>
				<soap:body use="encoded" namespace="vokiWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="vokiWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>

	<service name="service">
		<port name="ServicePort" binding="tns:ServiceBinding">
			<soap:address location="http://127.0.0.1/wwwint/controllers/ws_conexaoDb/Server.php" />
		</port>
	</service>

</definitions>
